<!-- tinyletter.html -->
<h3 class="sidebar">I'd Rather Be Writing Newsletter</h3>
<p>Get new posts delivered straight to your inbox.</p>
<div class="form-group">	
     <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/lacasebio33230" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/lacasebio33230', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">

	     <p><label for="tlemail">Entrez votre email</label></p>
	     <p><input type="text" style="width:140px" name="email" id="tlemail" /></p>
	     <input type="hidden" value="1" name="embed"/>
	     <input type="submit" value="S'inscrire" />
	     <p><a href="https://tinyletter.com" target="_blank">service TinyLetter</a></p>
     </form>
</div> <!-- end form-group-->
<!-- end tinyletter.html -->

         